<ion-content>
  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://png.pngtree.com/element_our/20190604/ourlarge/pngtree-user-avatar-boy-image_1482937.jpg">
      </ion-avatar>
      <ion-label>
        <h3>Harold Torres</h3>
        <p>Dec 10, 2019</p>
      </ion-label>
    </ion-item>
  
    <img src="https://carolinarice.com/wp-content/uploads/2019/07/Huevos-Rancheros-Rice-Bowl-Jasmine-Rice.jpg" alt="ion">
    <ion-card-header>
      <ion-card-title>Dieta Saludable 1</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus iaculis mollis ligula sed ultrices.
    </ion-card-content>
  
    <ion-footer>
      <ion-row>
        <ion-col center text-center>
          <button>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>1.5k Likes</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <button>
            <ion-icon name="text"></ion-icon>
            <div>4 Comments</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <button>
            <ion-icon name="time"></ion-icon>
            <div>11h ago</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-footer>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://png.pngtree.com/element_our/20190604/ourlarge/pngtree-user-avatar-boy-image_1482937.jpg">
      </ion-avatar>
      <ion-label>
        <h3>Carlos Hernandez</h3>
        <p>Dec 10, 2019</p>
      </ion-label>
    </ion-item>
  
    <img src="https://www.gourmet.com.co/wp-content/uploads/2020/06/Dieta-balanceada-iamgen-destacada.jpg" alt="ion">
    <ion-card-header>
      <ion-card-title>Dieta Saludable 1</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus iaculis mollis ligula sed ultrices.
    </ion-card-content>
  
    <ion-footer>
      <ion-row>
        <ion-col center text-center>
          <button>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>1.5k Likes</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <button>
            <ion-icon name="text"></ion-icon>
            <div>4 Comments</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <button>
            <ion-icon name="time"></ion-icon>
            <div>11h ago</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-footer>
  </ion-card>
</ion-content>
