<ion-content>

  <div class="logo" padding text-center>
    <img src="./assets/logo.png">
  </div>

  <ion-button [routerLink]="['/tabs']">Iniciar con Google</ion-button>
  <ion-button [routerLink]="['/registro']">Registrarse</ion-button>
  


  <div [ngSwitch]="opt">
    <form (submit)="doLogin()" *ngSwitchCase="'signin'">

          <ion-input type="email" [(ngModel)]="account.email" name="email"></ion-input>



          <ion-input type="password" [(ngModel)]="account.password" name="password"></ion-input>


        <div padding text-center>
          <button ion-button round color="light" icon-right>
            {{ 'SIGNIN' | translate }} <ion-icon name="log-in"></ion-icon>
          </button>
        </div>


    </form>

    <form (submit)="doLogin()" *ngSwitchCase="'signup'">
      <ion-label>{{ 'Username' | translate }}</ion-label>
          <ion-input type="text" [(ngModel)]="account.username" name="username"></ion-input>


      <ion-label float>{{ 'Fullname' | translate }}</ion-label>
          <ion-input type="text" [(ngModel)]="account.fullname" name="fullname"></ion-input>



          <ion-label float>{{ 'Email' | translate }}</ion-label>
          <ion-input type="email" [(ngModel)]="account.email" name="email"></ion-input>


          <ion-label float>{{ 'Password' | translate }}</ion-label>
          <ion-input type="password" [(ngModel)]="account.password" name="password"></ion-input>



          <ion-label float>{{ 'Retry Password' | translate }}</ion-label>
          <ion-input type="password" [(ngModel)]="account.password" name="password"></ion-input>


        <div padding text-center>
          <button ion-button round color="light" icon-right>
            {{ 'SIGNUP' | translate }} <ion-icon name="person-add"></ion-icon>
          </button>
        </div>


    </form>

  </div>

</ion-content>
