<ion-content>
  <ion-row>
    <ion-col style="display: flex;">
      <ion-label style="margin:auto;">Bebidas</ion-label>
    </ion-col>
  </ion-row>
<ion-list>
  <ion-item>
    <ion-label>Pokémon Yellow</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Mega Man X</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>The Legend of Zelda</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Pac-Man</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Super Mario World</ion-label>
  </ion-item>
</ion-list>

<ion-item>
  <ion-thumbnail slot="start">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVtZe2QFp-5KyIfl0Dr_V_GMvgzHJdoKtDAtpmOQMuqvRY6i3rnJTsDLI1v_x-nBVWSNs&usqp=CAU">
  </ion-thumbnail>
  <ion-label>Item Thumbnail</ion-label>
</ion-item>
</ion-content>
