<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>Historial</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="cafe-outline"></ion-icon>
      <ion-label>Bebidas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="fast-food-outline"></ion-icon>
      <ion-label>Dietas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="nutrition-outline"></ion-icon>
      <ion-label>Alimentos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Cuenta</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
